apiVersion: v1
data:
  agent-executor.yaml: |
    # 配置文件路径 /sysvol/conf/agent-executor.yaml
    # 1. app相关
    app:
      debug: {{ .Values.service.AgentExecutor.debugMode }}
      host_ip: "0.0.0.0"
      port: {{ .Values.service.AgentExecutor.port }}
      host_prefix: "/api/agent-executor/v1"
      host_prefix_v2: "/api/agent-executor/v2"
      rps_limit: {{ .Values.rps.limit }}
      enable_system_log: {{ .Values.enableSystemLog }}
      log_level: "{{ .Values.service.AgentExecutor.logLevel }}"
      enable_dolphin_agent_verbose: {{ .Values.service.AgentExecutor.enableDolphinAgentVerbose }}
      is_print_last_commit_info: {{ .Values.service.AgentExecutor.isPrintLastCommitInfo }}
      log_conversation_session_init: {{ .Values.service.AgentExecutor.logConversationSessionInit }}
    
    # 2. 结构化数据库相关
    rds:
      host: {{ .Values.depServices.rds.host | quote }}
      port: {{ .Values.depServices.rds.port }}
      dbname: {{ .Values.depServices.rds.database | quote }}
      user: {{ .Values.depServices.rds.user | quote }}
      password: {{ .Values.depServices.rds.password | quote }}
      db_type: {{ .Values.depServices.rds.type | quote }}
    
    # 3. redis数据库相关
    redis:
      cluster_mode: {{ .Values.depServices.redis.connectType | quote }}
      {{- if eq .Values.depServices.redis.connectType "sentinel" }}
      host: {{ .Values.depServices.redis.connectInfo.sentinelHost | quote }}
      port: {{ .Values.depServices.redis.connectInfo.sentinelPort | quote }}
      user: {{ .Values.depServices.redis.connectInfo.username | quote }}
      password: {{ .Values.depServices.redis.connectInfo.password | quote }}
      sentinel_master: {{ .Values.depServices.redis.connectInfo.masterGroupName | quote }}
      sentinel_user: {{ .Values.depServices.redis.connectInfo.sentinelUsername | quote }}
      sentinel_password: {{ .Values.depServices.redis.connectInfo.sentinelPassword | quote }}
      {{- else if eq .Values.depServices.redis.connectType "standalone" }}
      host: {{ .Values.depServices.redis.connectInfo.host | quote }}
      port: {{ .Values.depServices.redis.connectInfo.port | quote }}
      user: {{ .Values.depServices.redis.connectInfo.username | quote }}
      password: {{ .Values.depServices.redis.connectInfo.password | quote }}
      {{- else if eq .Values.depServices.redis.connectType "master-slave" }}
      read_host: {{ .Values.depServices.redis.connectInfo.slaveHost | quote }}
      read_port: {{ .Values.depServices.redis.connectInfo.slavePort | quote }}
      read_user: {{ .Values.depServices.redis.connectInfo.username | quote }}
      read_password: {{ .Values.depServices.redis.connectInfo.password | quote }}
      write_host: {{ .Values.depServices.redis.connectInfo.masterHost | quote }}
      write_port: {{ .Values.depServices.redis.connectInfo.masterPort | quote }}
      write_user: {{ .Values.depServices.redis.connectInfo.username | quote }}
      write_password: {{ .Values.depServices.redis.connectInfo.password | quote }}
      {{- end }}
    
    # 4. 图数据库相关
    graphdb:
      host: {{ .Values.depServices.graphDatabase.host | quote }}
      port: {{ .Values.depServices.graphDatabase.port | quote }}
      type: {{ .Values.depServices.graphDatabase.type | quote }}
      {{- if eq .Values.depServices.graphDatabase.type "nebulaGraph" }}
      read_only_user: {{ .Values.depServices.graphDatabase.readonlyuser | quote }}
      read_only_password: {{ .Values.depServices.graphDatabase.readonlypassword | quote }}
      {{- end }}
    
    # 5. opensearch
    opensearch:
      host: {{ .Values.depServices.opensearch.host | quote }}
      port: {{ .Values.depServices.opensearch.port | quote }}
      user: {{ .Values.depServices.opensearch.user | quote }}
      password: {{ .Values.depServices.opensearch.password | quote }}
    
    # 6. 依赖的服务地址
    services:
      mf_model_factory:
        host: "mf-model-factory"
        port: "9898"
      mf_model_manager:
        host: "mf-model-manager"
        port: "9898"
      mf_model_api:
        host: "mf-model-api"
        port: "9898"
      agent_app:
        host: "agent-app"
        port: "30777"
      agent_executor:
        host: "agent-executor"
        port: "30778"
      agent_factory:
        host: "agent-factory"
        port: "13020"
      agent_operator_integration:
        host: "agent-operator-integration"
        port: "9000"
      agent_memory:
        host: "agent-memory"
        port: "30790"
      kn_data_query:
        host: "kn-data-query"
        port: "6480"
      kn_knowledge_data:
        host: "kn-knowledge-data"
        port: "6475"
      dp_data_source:
        host: "dp-data-source"
        port: "8098"
      search_engine:
        host: "kn-search-engine"
        port: "6479"
      ecosearch:
        host: "ecosearch"
        port: "32126"
      ecoindex_public:
        host: "ecoindex-public"
        port: "32129"
      ecoindex_private:
        host: "ecoindex-private"
        port: "32130"
      docset_private:
        host: "docset-private"
        port: "32597"
      datahub:
        host: "datahubcentral-private"
        port: ""
    
    # 依赖的外部接入的服务
    external_services:
      emb_url: {{ .Values.depServices.llm_ad.embeddingUrl | quote }}
      embedding_dimension: {{ .Values.depServices.llm_ad.embeddingDimension }}
      rerank_url: {{ .Values.depServices.rerank_ad.rerankUrl | quote }}
    
    # 7. 记忆相关
    memory:
      limit: 50
      threshold: 0.5
      rerank_threshold: 0.1
    
    # 8. 文档问答相关
    document:
      enable_sensitive_word_detection: {{ .Values.service.enableSensitiveWordDetection }}
    
    # 9. 外部LLM（非模型工厂）
    outer_llm:
      api: ""
      api_key: ""
      model: ""
      model_list: {}
    
    # 10. explore_block版本控制
    features:
      use_explore_block_v2: {{ not .Values.service.doNotUseExploreBlockV2 }}
      disable_dolphin_sdk_llm_cache: {{ .Values.service.disableDolphinSdkLLMCache }}
      use_context_engineer_v2: {{ .Values.service.useContextEngineerV2 }}
      enable_dolphin_agent_output_variables_ctrl: {{ .Values.service.enableDolphinAgentOutputVariablesCtrl }}
    
    # 11. o11y 相关
    o11y:
      log_enabled: {{ .Values.service.telemetry.log.enabled }}
      trace_enabled: {{ .Values.service.telemetry.trace.enabled }}
    
    # 12. 对话日志相关配置
    dialog_logging:
      enable_dialog_logging: false
      use_single_log_file: false
      single_profile_file_path: "./data/dialog_single_file_logs/profile.log"
      single_trajectory_file_path: "./data/dialog_single_file_logs/trajectory.log"

kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-yaml-v2
  namespace: {{ .Values.namespace }}
