apiVersion: v1
data:
  RDSHOST: {{ .Values.depServices.rds.host | quote}}
  RDSPORT: {{ quote .Values.depServices.rds.port }}
  RDSUSER: {{ .Values.depServices.rds.user | quote}}
  RDSPASS: {{ .Values.depServices.rds.password | quote}}
  DB_TYPE: {{ .Values.depServices.rds.type | quote}}
  RDSDBNAME: {{ .Values.depServices.rds.database | quote}}
  REDISCLUSTERMODE: {{ .Values.depServices.redis.connectType | quote}}
  REDISUSER: {{ .Values.depServices.redis.connectInfo.username | quote}}
  REDISPASS: {{ .Values.depServices.redis.connectInfo.password | quote}}
  {{- if eq .Values.depServices.redis.connectType "sentinel" }}
  REDISHOST: {{ quote .Values.depServices.redis.connectInfo.sentinelHost }}
  REDISPORT: {{ quote .Values.depServices.redis.connectInfo.sentinelPort }}
  SENTINELMASTER: {{ .Values.depServices.redis.connectInfo.masterGroupName | quote }}
  SENTINELUSER: {{ .Values.depServices.redis.connectInfo.sentinelUsername | quote}}
  SENTINELPASS: {{ .Values.depServices.redis.connectInfo.sentinelPassword | quote}}
  {{- else if eq .Values.depServices.redis.connectType "standalone" }}
  REDISHOST: {{ quote .Values.depServices.redis.connectInfo.host }}
  REDISPORT: {{ quote .Values.depServices.redis.connectInfo.port }}
  {{- else if eq .Values.depServices.redis.connectType "master-slave" }}
  REDISREADHOST: {{ .Values.depServices.redis.connectInfo.slaveHost | quote}}
  REDISREADPORT: {{ quote .Values.depServices.redis.connectInfo.slavePort }}
  REDISREADUSER: {{ .Values.depServices.redis.connectInfo.username | quote}}
  REDISREADPASS: {{ .Values.depServices.redis.connectInfo.password | quote}}
  REDISWRITEHOST: {{ .Values.depServices.redis.connectInfo.masterHost | quote}}
  REDISWRITEPORT: {{ quote .Values.depServices.redis.connectInfo.masterPort }}
  REDISWRITEUSER: {{ .Values.depServices.redis.connectInfo.username | quote}}
  REDISWRITEPASS: {{ .Values.depServices.redis.connectInfo.password | quote}}
  {{- end }}
  ENABLE_SYSTEM_LOG: {{ quote .Values.enableSystemLog }}
  DUAL_STACK: {{ quote .Values.service.enableDualStack }}
  RPS_LIMIT: {{ quote .Values.rps.limit }}
  LOG_URL: {{ .Values.service.telemetry.log.endpoint | quote }}
  LOG_ENABLE: {{ quote .Values.service.telemetry.log.enabled }}
  METRIC_URL: {{ .Values.service.telemetry.metric.endpoint | quote }}
  METRIC_ENABLE: {{ quote .Values.service.telemetry.metric.enabled }}
  TRACE_ENABLE: {{ quote .Values.service.telemetry.trace.enabled }}
  TRACE_URL: {{ .Values.service.telemetry.trace.endpoint | quote}}
  OPENSEARCH_HOST: {{ .Values.depServices.opensearch.host | quote}}
  OPENSEARCHRED: {{ .Values.depServices.opensearch.read | quote}}
  OPENSEARCHWRITE: {{ .Values.depServices.opensearch.write | quote}}
  OPENSEARCH_PORT: {{ quote .Values.depServices.opensearch.port }}
  OPENSEARCH_USER: {{ .Values.depServices.opensearch.user | quote}}
  OPENSEARCH_PASS: {{ .Values.depServices.opensearch.password | quote}}
  GRAPHDB_TYPE: {{ quote .Values.depServices.graphDatabase.type }}
  GRAPHDB_HOST: {{ quote .Values.depServices.graphDatabase.host }}
  GRAPHDB_PORT: {{ quote .Values.depServices.graphDatabase.port }}
  GRAPHDB_USER: {{ quote .Values.depServices.graphDatabase.user }}
  GRAPHDB_PASSWORD: {{ quote .Values.depServices.graphDatabase.password }}
  {{- if eq .Values.depServices.graphDatabase.type "nebulaGraph" }}
  GRAPHDB_READ_ONLY_USER: {{ quote .Values.depServices.graphDatabase.readonlyuser }}
  GRAPHDB_READ_ONLY_PASSWORD: {{ quote .Values.depServices.graphDatabase.readonlypassword }}
  {{- end }}
  EMB_URL:  {{ quote .Values.depServices.llm_ad.embeddingUrl }}
  EMBEDDING_DIMENSION: {{ quote .Values.depServices.llm_ad.embeddingDimension }}
  RERANK_URL: {{ quote .Values.depServices.rerank_ad.rerankUrl }}
  ENABLE_SENSITIVE_WORD_DETECTION: {{ quote .Values.service.enableSensitiveWordDetection }}
  DO_NOT_USE_EXPLORE_BLOCK_V2: {{ quote .Values.service.doNotUseExploreBlockV2 }}
  dm_svc.conf: |
    TIME_ZON=(480)
    LANGUAGE=(cn)
    DM={{ printf "(%s)" .Values.depServices.rds.host }}
    [DM]
    LOGIN_MODE=(1)
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-yaml
  namespace: {{ .Values.namespace }}
