# 参考链接：
# https://confluence.aishu.cn/display/AS/Azure+Pipelines
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker
# https://confluence.aishu.cn/pages/viewpage.action?pageId=110275994
# https://confluence.aishu.cn/pages/viewpage.action?pageId=108105674
# https://confluence.aishu.cn/pages/viewpage.action?pageId=110275915
# https://confluence.aishu.cn/pages/viewpage.action?pageId=153446594

# release 分支版本tag示例
# 版本     代码分支      代码tag          镜像tag         示例            描述
# x.y.z    release/x.y    vx.y.z           x.y.z           2.1.5           稳定版（最终发行版）
# x.y.z    release/x.y    vx.y.z-rc.n      x.y.z-rc.n      2.1.1-rc.5      候选版
# x.y.z    release/x.y    vx.y.z-beta.n    x.y.z-beta.n    2.1.0-beta.1    公测版

# main/master/MISSION 分支版本tag示例
# 版本     代码分支               代码tag          镜像tag          示例             描述
# x.y.z    main/master/MISSION    vx.y.z-alpha.n    x.y.z-alpha.n    2.1.0-alpha.3    内测版

# feature 等type分支版本tag示例
# 版本     代码分支                代码tag    镜像tag                  示例                         描述
# x.y.z    type/id-with-comment                x.y.z-id-with-comment    2.1.0-655535-with-comment    测试版
# 常见的分支前缀-type包括：
# release: 发布新版本
# feat/feature: 新功能、新特性
# bug/fix/bugfix: 修改 bug
# doc/docs: 文档修改
# test: 测试用例新增、修改
# chore: 构建修改
# perf: 更改代码，以提高性能（在不影响代码内部行为的前提下，对程序性能进行优化）
# refactor: 代码重构（重构，在不影响代码内部行为、功能下的代码修改）
# style: 代码格式修改, 注意不是 css 修改（例如分号修改）
# build: 影响项目构建或依赖项修改
# revert: 回退上一次提交
# ci: 持续集成相关文件修改
# workflow: 工作流相关文件修改

trigger:
  - v*
  - feat/*
  # - feature/*
  - bug/*
  - fix/*
  - bugfix/*
  - doc/*
  - docs/*
  - chore/*
  - test/*
  - perf/*
  - refactor/*
  - style/*
  - build/*
  - revert/*
  - ci/*
  - workflow/*

variables:
  - group: ict-config
  - name: Build.Clean
    value: "all"
  - name: UTReportName
    value: junit-ut.xml
  - name: LintReportName
    value: lint.junit.xml
  - name: CoverageReportName
    value: cobertura-coverage.xml
  - name: ArtifactName
    value: StudioWebService
  - name: lintArtifactName
    value: Report
  - name: lintArtifactPath
    value: report
  - name: utArtifactName
    value: coverageFiles
  - name: utArtifactPath
    value: testResult

parameters:
- name: DefaultBranch
  displayName: 依赖仓库使用的默认分支
  type: string
  default: MISSION

resources:
  containers:
    - container: dotnet
      endpoint: acr.aishu.cn
      image: dotnet/runtime:latest
    - container: builder
      endpoint: acr.aishu.cn
      image: public/studio-web-service-builder-node:18.7.0-20251021

stages:
  - stage: Check
    displayName: 分支语法检查
    jobs:
      - job: check_branch_name
        displayName: 分支语法检查
        workspace:
          clean: all
        steps:
          - script: |
              echo "当前 BUILD_SOURCEBRANCH"
              echo $BUILD_SOURCEBRANCH
              echo "当前 BUILD_SOURCEBRANCHNAME"
              echo $BUILD_SOURCEBRANCHNAME

              if [[ "${BUILD_SOURCEBRANCH}" =~ ^refs/tags/ ]]; then
                echo "当前是一个tag分支"
                exit 0
              fi

              if [[ "${BUILD_SOURCEBRANCH}" =~ ^refs/pull/ ]]; then
                echo "当前是一个合并请求分支"
                exit 0
              fi

              branch="${BUILD_SOURCEBRANCH/refs\/heads\//}"
              echo "当前分支为${branch}"

              if [[ "${branch}" =~ ^Feature-[0-9]+$ ]]; then
                echo "请重新命名分支，该写法已摒弃。"
                exit 0
              fi

  - stage: Lint
    displayName: 语法检查
    jobs:
      - job: Code_Lint_Check
        displayName: 语法检查
        container: builder
        workspace:
          clean: all
        steps:
          - script: |
              npm i
          - script: |
              npm run lint-junit
            continueOnError: true
            displayName: lint检查
          - script: |
              mkdir ${{variables.lintArtifactPath}} && \
              cp *.junit.xml ${{variables.lintArtifactPath}}
          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: ${{variables.lintArtifactPath}}
              artifactName: ${{variables.lintArtifactName}}
      - job: Publish_Lint_Report
        displayName: 发布语法检查报告
        container: dotnet
        dependsOn: [Code_Lint_Check]
        workspace:
          clean: all
        steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              artifactName: ${{variables.lintArtifactName}}
              downloadPath: $(Build.BinariesDirectory)
          - task: PublishTestResults@2
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "$(Build.BinariesDirectory)/**/${{variables.LintReportName}}"
              testRunTitle: Lint
              failTaskOnFailedTests: true
          - task: BuildQualityChecks@8
            displayName: Quality Gate Lint
            inputs:
              checkWarnings: true
              warningFailOption: "fixed"
              warningThreshold: "10"
              showStatistics: false
              evaluateTaskWarnings: false
              evaluateFileWarnings: true
              warningFilesFolder: "$(Build.BinariesDirectory)"
              warningFiles: "**/${{variables.LintReportName}}"
              warningFileFilters: '/^.+<\/failure>.*?$/'
              warningFilesArtifact: "${{variables.lintArtifactName}}"

  - stage: UTTEST
    displayName: 单元测试
    jobs:
      - job: UT_TEST
        displayName: 单元测试
        pool:
          name: ASDeployment
          demands:
            - Agent.OSArchitecture -equals X64
            - Agent.OS -equals Linux
            - docker
        steps:
          - task: PostBuildCleanup@3
          - checkout: self
          - checkout: git://AnyShareFamily/API@MISSION
          - task: Docker@2
            displayName: 登录容器仓库
            inputs:
              command: login
              containerRegistry: ProtonACR
          - task: DownloadSecureFile@1
            name: SSHKEY
            displayName: "下载密钥"
            inputs:
              secureFile: "id_rsa"
          - task: Bash@3
            displayName: 运行单元测试
            inputs:
              targetType: "filePath"
              filePath: "$(Build.SourcesDirectory)/StudioWebService/scripts/test.sh"
            env:
              BRANCH_NAME: $(Build.SourceBranch)
              SSH_KEY: $(SSHKEY.secureFilePath)
              BUILD_NUMBER: $(Build.BuildId)
              RELEASE_VERSION: $(release_version)
              SERVICE_VERSION: $(version)
              BUILD_ARCH: $(arch)
              DEFAULT_BRANCH: ${{parameters.DefaultBranch}}
          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: ${{variables.ArtifactName}}/${{variables.utArtifactPath}}
              artifactName: ${{variables.utArtifactName}}
      - job:
        displayName: 发布单元测试报告
        workspace:
          clean: all
        container: dotnet # 全局配置定义的Go builder docker容器
        dependsOn: [UT_TEST]
        steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              artifactName: ${{variables.utArtifactName}}
              downloadPath: $(Build.BinariesDirectory)
          - task: PublishTestResults@2
            displayName: Publish UT Report
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: "$(Build.BinariesDirectory)/${{variables.utArtifactName}}/junitResult/${{variables.UTReportName}}"
              testRunTitle: UT Results
              failTaskOnFailedTests: false
          - task: BuildQualityChecks@8
            displayName: Quality Gate UT
            inputs:
              checkWarnings: true
              warningFailOption: "fixed"
              warningThreshold: "0"
              showStatistics: false
              evaluateTaskWarnings: false
              evaluateFileWarnings: true
              warningFilesFolder: "$(Build.BinariesDirectory)/${{variables.utArtifactName}}"
              warningFiles: "**/${{variables.UTReportName}}"
              warningFileFilters: '/^.+<\/failure>.*?$/'
              warningFilesArtifact: "${{variables.utArtifactName}}"
          - task: PublishCodeCoverageResults@1
            displayName: Publish Coverage Report
            inputs:
              codeCoverageTool: "Cobertura"
              summaryFileLocation: "$(Build.BinariesDirectory)/${{variables.utArtifactName}}/${{variables.CoverageReportName}}"
          - task: BuildQualityChecks@8
            displayName: Quality Gate Coverage
            inputs:
              coverageType: "lines"
              coverageFailOption: "fixed"
              checkCoverage: true
              coverageThreshold: "40.0"

  - stage: BuildService
    displayName: 编译服务
    jobs:
      - job: BuildImage
        displayName: 编译镜像
        strategy:
          matrix:
            x86:
              arch: "x86"
              poolAgentOSArchitecture: "X64"
            arm:
              arch: "arm"
              poolAgentOSArchitecture: "ARM64"
          maxParallel: 2
        pool:
          name: ASDeployment
          demands:
            - Agent.OSArchitecture -equals $(poolAgentOSArchitecture)
            - Agent.OS -equals Linux
            - docker
        steps:
          - task: PostBuildCleanup@3
          - checkout: self
          - checkout: git://AnyShareFamily/API@MISSION
          - task: Docker@2
            displayName: 登录容器仓库
            inputs:
              command: login
              containerRegistry: ProtonACR
          - task: DownloadSecureFile@1
            name: SSHKEY
            displayName: "下载密钥"
            inputs:
              secureFile: "id_rsa"
          - task: Bash@3
            displayName: 编译镜像
            inputs:
              targetType: "filePath"
              filePath: "$(Build.SourcesDirectory)/StudioWebService/scripts/build.sh"
            env:
              BRANCH_NAME: $(Build.SourceBranch)
              SSH_KEY: $(SSHKEY.secureFilePath)
              BUILD_NUMBER: $(Build.BuildId)
              RELEASE_VERSION: $(release_version)
              SERVICE_VERSION: $(version)
              BUILD_ARCH: $(arch)
              DEFAULT_BRANCH: ${{parameters.DefaultBranch}}
          - task: DeleteFiles@1
            displayName: Clean Workspace
            inputs:
              contents: |
                **/*
                **/.*
                **/.*/**
            condition: always()

  # - stage: ScanImage
  #   displayName: 扫描镜像
  #   jobs:
  #     - job: ScanImage
  #       displayName: Security Scanning
  #       pool:
  #         name: ASDeployment
  #       steps:
  #         - task: Bash@3
  #           displayName: 扫描镜像
  #           inputs:
  #             targetType: "filePath"
  #             filePath: "$(Build.SourcesDirectory)/scripts/scanimage.sh"
  #           env:
  #             BRANCH_NAME: $(Build.SourceBranch)
  #             RELEASE_VERSION: $(release_version)
  #             SERVICE_VERSION: $(version)
  #             BUILD_NUMBER: $(Build.BuildId)
  #             DEFAULT_BRANCH: ${{parameters.DefaultBranch}}

  - stage: MakeManifest
    displayName: 多架构镜像
    jobs:
      - job: MakeManifest
        displayName: 创建manifest
        pool:
          name: ASDeployment
        steps:
          - task: Docker@2
            displayName: 登录容器仓库
            inputs:
              command: login
              containerRegistry: ProtonACR
          - task: Bash@3
            displayName: 制作多架构镜像
            inputs:
              targetType: "filePath"
              filePath: "$(Build.SourcesDirectory)/scripts/manifest.sh"
            env:
              BRANCH_NAME: $(Build.SourceBranch)
              RELEASE_VERSION: $(release_version)
              SERVICE_VERSION: $(version)
              BUILD_NUMBER: $(Build.BuildId)
              DEFAULT_BRANCH: ${{parameters.DefaultBranch}}
          - task: DeleteFiles@1
            displayName: Clean Workspace
            inputs:
              contents: |
                **/*
                **/.*
                **/.*/**
            condition: always()
