{{- if not $.Values.storage.storageClassName }}
{{- $r := int $.Values.replicaCount }}
{{- range $i, $v := list "0" "1" "2" }}
{{- if lt $i $r }}
{{- range $key, $value := $.Values.storage.local }}
{{- if eq $v $key }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  labels:
    app: {{ template "redis.name" $ }}
    podindex: '{{ $i }}'
  name: {{ template "redis.name" $ }}-{{ $i }}
spec:
  capacity:
    storage: {{ $.Values.storage.capacity }}
  accessModes:
  - "ReadWriteOnce"
  persistentVolumeReclaimPolicy: Retain
  local:
    path: {{ $value.path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: "kubernetes.io/hostname"
          operator: "In"
          values:
          - {{ $value.host }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
