.container {
  height: 448px;

  .mods {
    width: 160px;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto !important;
    }

    .mod {
      height: 40px;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      .dot-enabled {
        background-color: #52c41a;
      }

      .dot-disabled {
        background-color: #ff4d4f;
      }

      &:hover {
        background: #f5f5f5;
      }
    }

    .selected {
      background: #f1f7fe !important;
    }
  }

  /* 已启用 */
  .enabled-status {
    color: #52c41a;
    background: #f6ffed;
    border: solid 1px #d9f7be;
    line-height: 22px;
  }

  /* 已禁用 */
  .disabled-status {
    color: #ff4d4f;
    background: #fff1f0;
    border: solid 1px #ffccc7;
    line-height: 22px;
  }

  .editor {
    border: solid 1px rgba(0, 0, 0, 0.06);
  }

  :global {
    .monaco-editor,
    .monaco-editor .overflow-guard {
      border-radius: 8px;
    }

    /* 修改编辑器 scrollbar 的样式*/
    .scrollbar .slider {
      border-radius: 10px !important;
      background-color: #eaeaea !important;
    }

    .scrollbar.vertical,
    .scrollbar.vertical .slider {
      width: 8px !important;
    }

    .scrollbar.horizontal,
    .scrollbar.horizontal .slider {
      height: 8px !important;
    }
  }
}
