replicaCount: 1

namespace: dip
moduleName: agent-executor

image:
  registry: acr.aishu.cn
  repository: /dip/agent-executor
  repositoryJob: /dip/agent-executor-job
  tag: 3.0.0.5
  pullPolicy: IfNotPresent
  name: agent-executor

service:
  ingressclassname: ""
  AgentExecutor:
    type: ClusterIP
    port: 30778
    nodePort: 31022
    enableDolphinAgentVerbose: false
    logLevel: info
    debugMode: false
    isPrintLastCommitInfo: false
    logConversationSessionInit: false
    ingress:
      enabled: true
      interface:
        path:
          - /api/agent-executor/v1
  enableDualStack: false
  type: ClusterIP
  ports:
    port1: 30778
    protocol1: TCP
    targetPort1: 30778
    name1: agent-executor
  telemetry:
    log:
      enabled: false
      endpoint: "http://127.0.0.1"
    metric:
      enabled: false
      endpoint: "http://127.0.0.1"
    trace:
      enabled: false
      endpoint: "http://127.0.0.1"
  enableSensitiveWordDetection: false
  doNotUseExploreBlockV2: false
  disableDolphinSdkLLMCache: false
  useContextEngineerV2: true
  enableDolphinAgentOutputVariablesCtrl: true

resources:
  requests:
    cpu: 1
    memory: 1Gi
  limits:
    cpu: 11
    memory: 20Gi

probe:
  livenessProbe:
    httpGet:
      path: /api/agent-executor/v1/health/alive
      port: 30778
    initialDelaySeconds: 25
    periodSeconds: 50
    timeoutSeconds: 20
    successThreshold: 1
    failureThreshold: 3
  readinessProbe:
    httpGet:
      path: /api/agent-executor/v1/health/ready
      port: 30778
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  startupProbe:
    httpGet:
      path: /api/agent-executor/v1/health/ready
      port: 30778
    initialDelaySeconds: 20
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5

nodeSelector: { }

depServices:
  rds:
    host: "rds-proton-rds-mariadb-cluster"
    port: "3320"
    user: "anydata"
    password: "***"
    type: ""
    database: "anydata"
    maxConnections: 5
  redis:
    connectType: sentinel
    enableSSL: false
    connectInfo:
      sentinelHost: kg-redis-cluster-proton-redis-sentinel
      sentinelPort: 26379
      username: root
      password: "***"
      sentinelUsername: root
      sentinelPassword: "***"
      masterGroupName: mymaster
      masterHost: xxx.dcs.huaweicloud.com
      masterPort: 26379
      slaveHost: xxx-readonly.dcs.huaweicloud.com
      slavePort: 26379
      host: ""
      port: 26379
    secretName: redis-ssl-secret
    caName: ca.pem
    certName: cert.pem
    keyName: key.pem
  llm_ad:
    embeddingUrl: ""
    embeddingDimension: 768
  rerank_ad:
    rerankUrl: ""
  opensearch:
    read: "opensearch-read"
    write: "opensearch-write"
    host: "opensearch-master"
    port: "9200"
    user: "admin"
    password: "***"
  graphDatabase:
    type: "nebulaGraph"
    host: "kg-nebula-cluster-proton-nebula-graphd"
    port: "9669"
    user: "root"
    password: "***"
    readonlyuser: "anydata"
    readonlypassword: "***"


enableSystemLog: true

rps:
  limit: 100 #每秒最大请求数
