# Starter pipeline
#

trigger:
  branches:
    include:
      - develop
      - feature/*
      - release/*
      - bugfix/*

# 定时构建触发器
schedules:
- cron: 0 13 * * *
  displayName: 每日构建
  always: true
  branches:
    include:
    - develop

pool:
  name: python

parameters:
- name: build_chart
  displayName: build_chart
  type: boolean
  default: true
  values:
    - true
    - false
- name: build_image
  displayName: build_image
  type: boolean
  default: true
  values:
    - true
    - false

variables:
  - group: global-dip
  - name: imageTag
    value: $(Build.SourceBranchName)-$(Build.BuildNumber)
  - name: imageName
    value: mf-model-manager
  - name: UTArtifactName
    value: coverageFiles
  - name: CoverageReportName
    value: coverage.xml
  - name: UTReportName
    value: '*.xml'
  - name: LintReportName
    value: lint_report.xml
  - name: harborUrl
    value: 'acr.aishu.cn/dip'
  - name: chartRepo
    value: "https://acr.aishu.cn/api/chartrepo/dip/charts"
  - name: branchNameLower
    value: $[lower(variables['Build.SourceBranchName'])]
  - name: actualBranch
    value: $[replace(variables['Build.SourceBranch'], 'refs/heads/', '')]
  - name: actualBranchLower
    value: $[lower(variables['actualBranch'])]


resources:
  containers:
    - container: scanner
      endpoint: acr.aishu.cn
      image: ad/openjdk:11.0.13-jre
    - container: dotnet
      endpoint: acr.aishu.cn
      image: dotnet/runtime:latest

stages:
  - stage: Build_Docker_Image
    displayName: Build_Chart_And_Image
    jobs:
      - ${{ if eq(parameters.build_chart, true) }}:
          - job: Build_Chart
            displayName: Build_Chart
            workspace:
              clean: all
            steps:
              - checkout: self
                fetchDepth: 1
              - script: |
                  set -e
                  chartVersion=$(branchNameLower)
                  if [[ $(actualBranchLower) == develop ]] || [[ $(actualBranchLower) == feature/* ]] || [[ $(actualBranchLower) == bugfix/* ]]
                  then
                    chartVersion=5.0.0-$(branchNameLower)
                  fi
                  sed -i "s/appVersion: .*/appVersion: ${chartVersion}/g" ./charts/Chart.yaml
                  sed -i "s/version: .*/version: ${chartVersion}/g" ./charts/Chart.yaml
                  sed -i "s/tag: .*/tag: $(branchNameLower)/g" ./charts/values.yaml
                  helm package ./charts
                  chartfilename=`ls | grep tgz`
                  curlOptions="-s -u $(registry.username):$(registry.password) -H \"Content-Type:multipart/form-data\""
                  curl ${curlOptions} -F "chart=@$chartfilename" -X POST $(chartRepo)
                                                        

      - ${{ if eq(parameters.build_image, true) }}:
          - job: Build_Image
            timeoutInMinutes: 120
            displayName: Build_Image
            # workspace:
            #   clean: all
            steps:
              - task: Docker@2
                displayName: Login To Harbor
                inputs:
                  containerRegistry: 'acr.aishu.cn'
                  command: 'login'
              - bash: |
                  imageUri=$(harborUrl)/$(imageName):$(branchNameLower)
                  docker buildx build -t ${imageUri}_amd64 \
                    --file=./Dockerfile \
                    --platform=linux/amd64 . -o type=docker
    
                  docker buildx build -t ${imageUri}_arm64 \
                    --file=./Dockerfile \
                    --platform=linux/arm64 . -o type=docker
    
                  docker tag ${imageUri}_amd64 ${imageUri}_amd64-$(Build.BuildNumber)
                  docker tag ${imageUri}_arm64 ${imageUri}_arm64-$(Build.BuildNumber)
    
                  docker push ${imageUri}_amd64
                  docker push ${imageUri}_amd64-$(Build.BuildNumber)
                  docker push ${imageUri}_arm64
                  docker push ${imageUri}_arm64-$(Build.BuildNumber)
                  docker rmi ${imageUri}_amd64 ${imageUri}_amd64-$(Build.BuildNumber) ${imageUri}_arm64 ${imageUri}_arm64-$(Build.BuildNumber)
    
                  rm -rf /root/.docker/manifests/acr.aishu.cn_ad_$(imageName)*
                  docker manifest create --amend --insecure ${imageUri} ${imageUri}_amd64 ${imageUri}_arm64
                  docker manifest push --purge ${imageUri}
                  docker manifest create --amend --insecure ${imageUri}-$(Build.BuildNumber) ${imageUri}_amd64-$(Build.BuildNumber) ${imageUri}_arm64-$(Build.BuildNumber)
                  docker manifest push --purge ${imageUri}-$(Build.BuildNumber)
                displayName: Build Image and push to harbor

  - stage: Check_Source_Code
    displayName: Check_Source_Code
    pool:
      name: python
      demands:
      - agent.name -equals 10.4.51.235-agent2
    jobs:
      - job: Generate_Quality_Report
        displayName: Generate Quality Report
        workspace:
          clean: all
        steps:
          - checkout: self
          - task: Bash@3
            displayName: utRun
            inputs:
              targetType: 'inline'
              script: |
                /root/anaconda3/envs/model_factory_python/bin/python coverage_ut.py
          - task: Bash@3
            displayName: Lint Run
            inputs:
              targetType: 'inline'
              script: |
                 /root/anaconda3/envs/python3.9/bin/pylint coverage_ut.py --output=lint_report.xml --exit-zero
          - task: CopyFiles@2
            displayName: Copy File
            inputs:
              SourceFolder: $(Build.SourcesDirectory)
              contents: |
                coverage.xml
                coverage_result/*
                lint_report.xml
              targetFolder: $(Build.BinariesDirectory)
          - task: PublishBuildArtifacts@1
            displayName: Publish Build Artifacts
            inputs:
              PathtoPublish: '$(Build.BinariesDirectory)'
              ArtifactName:  ${{variables.UTArtifactName}}

      - job: Lint_Check
        displayName: Lint Reports And Quality Gates
        container: dotnet
        dependsOn: Generate_Quality_Report
        steps:
          - checkout: none

          - task: DownloadBuildArtifacts@0
            displayName: Download Build Artifacts
            inputs:
              artifactName: ${{variables.UTArtifactName}}
              downloadPath: $(Build.BinariesDirectory)

          - task: PublishTestResults@2
            displayName: Publish Lint Report
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '$(Build.BinariesDirectory)/${{variables.UTArtifactName}}/${{variables.LintReportName}}'
              testRunTitle: Lint
              failTaskOnFailedTests: false

          - task: BuildQualityChecks@8
            displayName: Quality Gate Lint
            inputs:
              checkWarnings: true
              warningFailOption: 'fixed'
              warningThreshold: '10'
              showStatistics: false
              evaluateTaskWarnings: false
              evaluateFileWarnings: true
              warningFilesFolder: '$(Build.BinariesDirectory)/${{variables.UTArtifactName}}'
              warningFiles: '**/${{variables.LintReportName}}'
              warningFileFilters: '/^.+<\/failure>.*?$/'
              warningFilesArtifact: 'coverageFiles'


      - job: UT_Check
        displayName: UT Reports And Quality Gates
        container: dotnet
        dependsOn: Generate_Quality_Report
        steps:
          - checkout: none

          - task: DownloadBuildArtifacts@0
            displayName: Download Build Artifacts
            inputs:
              artifactName: ${{variables.UTArtifactName}}
              downloadPath: $(Build.BinariesDirectory)

          - task: PublishTestResults@2
            displayName: Publish UT Report
            inputs:
              testResultsFormat: "JUnit"
              testResultsFiles: '$(Build.BinariesDirectory)/${{variables.UTArtifactName}}/coverage_result/*.xml'
              testRunTitle: 'UT Result'
              failTaskOnFailedTests: true

          - task: BuildQualityChecks@8
            displayName: Quality Gate UT
            inputs:
              checkWarnings: true
              warningFailOption: 'fixed'
              warningThreshold: '0'
              showStatistics: false
              evaluateTaskWarnings: false
              evaluateFileWarnings: true
              warningFilesFolder: '$(Build.BinariesDirectory)/${{variables.UTArtifactName}}'
              warningFiles: '**/${{variables.UTReportName}}'
              warningFileFilters: '/^.+<\/failure>.*?$/'
              warningFilesArtifact: 'coverageFiles'


      - job: Coverage_Check
        displayName: Coverage Reports And Quality Gates
        container: dotnet
        dependsOn: Generate_Quality_Report
        steps:
          - checkout: none

          - task: DownloadBuildArtifacts@0
            displayName: Download Build Artifacts
            inputs:
              artifactName: ${{variables.UTArtifactName}}
              downloadPath: $(Build.BinariesDirectory)

          - task: PublishCodeCoverageResults@1
            displayName: Publish Coverage Report
            inputs:
              codeCoverageTool: 'Cobertura'
              summaryFileLocation: '$(Build.BinariesDirectory)/${{variables.UTArtifactName}}/${{variables.CoverageReportName}}'

          - task: BuildQualityChecks@8
            displayName: Quality Gate Coverage
            inputs:
              coverageType: 'lines'
              coverageFailOption: 'fixed'
              checkCoverage: true
              coverageThreshold: '60.5'

#
#      - job: SonarQube
#        displayName: SonarQube Job
#        condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
#        container: scanner
#        dependsOn: [ Generate_Quality_Report, Coverage_Check, UT_Check ]
#        workspace:
#          clean: all
#        steps:
#          - checkout: none
#
#          - task: SonarQubePrepare@4
#            displayName: Prepare SonarQube
#            inputs:
#              SonarQube: 'adS'
#              scannerMode: 'CLI'
#              configMode: 'manual'
#              cliProjectKey: 'sonar.gbuilder-builder'
#              cliProjectName: 'gbuilder-builder'
#              cliSources: '.'
#
#          - task: SonarQubeAnalyze@4
#            displayName: Run SonarQube Code Analysis Task
#
#          - task: SonarQubePublish@4
#            displayName: Publish Quality Gate Result Task
#            inputs:
#              pollingTimeoutSec: '300'
