trigger:
  branches:
    include:
      - MISSION
      - develop
      - feature/*
      - hotfix/*
      - release/*
      - fix/*
  paths:
    include:
      - src

variables:
  - group: global-dip
  - name: imageRegistry
    value: acr.aishu.cn
  - name: chartName
    value: operator-web
  - name: imageRepository
    value: dip/$(chartName)
  - name: isMisson
    value: $[startsWith(variables['Build.SourceBranch'], 'refs/heads/MISSION')]
  - name: lintReportName
    value: lint-report.xml
  - name: utReportName
    value: UT-report.xml
  - name: coverageReportName
    value: cobertura-coverage.xml
  - name: chartRepo
    value: 'https://acr.aishu.cn/api/chartrepo/dip/charts'
  - name: amd64Pool
    value: anydata-centos7.7-x86_64
  - name: arm64Pool
    value: anydata-centos7-arm
  - name: yqImage
    value: 'acr.aishu.cn/public/mikefarah/yq:4.26.1'

resources:
  containers:
    - container: dotnet
      endpoint: acr.aishu.cn
      image: wing-biz/euop/dotnet-runtime:3.1
    - container: node
      endpoint: acr.aishu.cn
      image: as/node:18.12.1-dotnet-x86-console
  repositories:
    - repository: templatesAlias
      type: git
      name: ONE-Architecture\Yaml-Templates
      ref: 'refs/heads/main'
    - repository: arPipelineTemplates
      type: git
      name: AnyRobot\PipelineTemplates
      ref: 'refs/heads/develop'

stages:
  - template: ../templates/pipelines.yml
