apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret-yaml
  namespace: {{ .Release.Namespace }}
stringData:
  # 配置文件路径/sysvol/conf/agent-app-secret.yaml
  agent-app-secret.yaml: |
    db:
      user_name: {{ .Values.depServices.rds.user }}
      user_pwd: {{ .Values.depServices.rds.password | quote }}
      db_host: {{ .Values.depServices.rds.host }}
      db_port: {{ .Values.depServices.rds.port }}
      db_host_read: {{ .Values.depServices.rds.hostRead }}
      db_port_read: {{ .Values.depServices.rds.portRead }}
      db_name: {{ .Values.depServices.rds.database }}
      db_charset: {{ .Values.depServices.rds.dbCharset }}
      timeout: {{ .Values.depServices.rds.timeout }}
      read_timeout: {{ .Values.depServices.rds.readTimeout }}
      write_timeout: {{ .Values.depServices.rds.writeTimeout }}
      max_open_conns: {{ .Values.depServices.rds.maxConnections }}
      max_open_read_conns: {{ .Values.depServices.rds.maxReadConnections }}
      max_idle_conns: 10
      conn_max_lifetime: 500
