apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret-yaml
  namespace: {{ .Release.Namespace }}
stringData:
  # 配置文件路径/sysvol/conf/agent-factory-secret.yaml
  agent-factory-secret.yaml: |
    db:
      user_name: {{ .Values.depServices.rds.user }}
      user_pwd: {{ .Values.depServices.rds.password | quote }}
      db_host: {{ .Values.depServices.rds.host }}
      db_port: {{ .Values.depServices.rds.port }}
      db_host_read: {{ .Values.depServices.rds.hostRead }}
      db_port_read: {{ .Values.depServices.rds.portRead }}
      db_name: {{ .Values.depServices.rds.database }}
      db_charset: {{ .Values.depServices.rds.dbCharset }}
      timeout: {{ .Values.depServices.rds.timeout }}
      read_timeout: {{ .Values.depServices.rds.readTimeout }}
      write_timeout: {{ .Values.depServices.rds.writeTimeout }}
      max_open_conns: {{ .Values.depServices.rds.maxConnections }}
      max_open_read_conns: {{ .Values.depServices.rds.maxReadConnections }}
      max_idle_conns: 10
      conn_max_lifetime: 500
    redis:
      connect_type: {{ .Values.depServices.redis.connectType | quote }}
      password: {{ .Values.depServices.redis.connectInfo.password | quote }}
      username: {{ .Values.depServices.redis.connectInfo.username | quote }}
      db: {{ .Values.depServices.redis.db }}

      # standalone 单机模式
      host: {{ .Values.depServices.redis.connectInfo.host | quote }}
      port: {{ .Values.depServices.redis.connectInfo.port | quote }}

      # sentinel 模式配置
      master_group_name: {{ .Values.depServices.redis.connectInfo.masterGroupName | quote }}
      sentinel_host: {{ .Values.depServices.redis.connectInfo.sentinelHost | quote }}
      sentinel_port: {{ .Values.depServices.redis.connectInfo.sentinelPort | quote }}
      sentinel_username: {{ .Values.depServices.redis.connectInfo.sentinelUsername | quote }}
      sentinel_password: {{ .Values.depServices.redis.connectInfo.sentinelPassword | quote }}

      # master-slave 主从模式
      master_host: {{ .Values.depServices.redis.connectInfo.masterHost | quote }}
      master_port: {{ .Values.depServices.redis.connectInfo.masterPort | quote }}
      slave_host: {{ .Values.depServices.redis.connectInfo.slaveHost | quote }}
      slave_port: {{ .Values.depServices.redis.connectInfo.slavePort | quote }}

    model_factory:
      llm:
        api_key: {{ .Values.depServices.modelFactory.llm.apiKey | quote }}
