# Default values for business-system-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  registry: acr.aishu.cn
  repository: ict/business-system-backend
  tag: <todo>
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths: []
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

depServices:
  class-443:
    ingressClass: "class-443"
  rds:
    host: 127.0.0.1
    password: 123qweASD
    port: 3306
    user: root
    type: MySQL
    database: model_management
    system_id: ""
  mq:
    auth:
      mechanism: PLAIN
      password: eisoo.com123
      username: anyrobot
    mqHost: kafka-headless.resource.svc.cluster.local.
    mqLookupdHost: ""
    mqLookupdPort: 0
    mqPort: 9097
    mqType: kafka
