{{- if not .Values.storage.storageClassName }}
{{- range $i := until (int .Values.replicaCount) -}}
{{- range $key, $value := $.Values.storage.local }}
{{- if eq (toString ($i)) $key }}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-{{ template "zookeeper.name" $ }}-{{ $i }}
  labels:
    app: {{ template "zookeeper.name" $ }}
    podindex: "{{ $i }}"
spec:
  capacity:
    storage: {{ $.Values.storage.capacity }}
  accessModes: [ ReadWriteOnce ]
  storageClassName: ""
  persistentVolumeReclaimPolicy: Retain
  local:
    path: {{ $value.path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "kubernetes.io/hostname"
              operator: "In"
              values:
                - {{ $value.host }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
