apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "zookeeper.name" . }}
  namespace: {{.Values.namespace}}
  labels:
    app: {{ template "zookeeper.name" . }}
spec:
  serviceName: {{ template "zookeeper.name" . }}-headless
  podManagementPolicy: Parallel
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "zookeeper.name" . }}
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ template "zookeeper.name" . }}
    spec:
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
      dnsConfig:
        options:
          - name: single-request-reopen
          - name: use-vc
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
      #terminationGracePeriodSeconds: 120
      {{- if .Values.antiAffinity.enabled }}
      affinity:
        {{- if eq .Values.antiAffinity.rule "soft" }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ template "zookeeper.name" . }}
        {{- else if eq .Values.antiAffinity.rule "hard" }}
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - {{ template "zookeeper.name" . }}
        {{- end }}
      {{- end }}
      containers:
        - name: zookeeper
          image: {{ template "zookeeper.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - sh
            - -cx
            - |
              #!/usr/bin/env bash -ex
              export ZOO_MY_ID=`expr ${HOSTNAME##*-} + 1`
              mkdir -p "$ZOO_DATA_LOG_DIR" "$ZOO_DATA_DIR" "$ZOO_LOG_DIR"
              /docker-entrypoint.sh zkServer.sh start-foreground
          ports:
            - name: zookeeper
              containerPort: 2181
            - name: jmx-exporter
              containerPort: {{ .Values.service.jmxExporter.port }}
          env:
            - name: TZ
              value: "{{ .Values.env.timezone }}"
            - name: JMX_EXPORTER_PORT
              value: "{{ .Values.service.jmxExporter.port }}"
            - name: ZOO_DATA_DIR
              value: "/var/lib/zookeeper/data"
            - name: ZOO_DATA_LOG_DIR
              value: "/var/lib/zookeeper/datalog"
            - name: ZOO_LOG_DIR
              value: "/var/lib/zookeeper/logs"
            - name: ZOO_CFG_EXTRA
              {{- if .Values.config.enableSSL }}
              value: "secureClientPort=2181 snapshot.trust.empty=true"
              {{- else }}
              value: "clientPort=2181 snapshot.trust.empty=true"
              {{- end }}
            - name: ZOO_LOG_LEVEL
              value: "{{ .Values.config.logLevel }}"
            - name: ZOO_SERVERS
              value: "{{ template "zookeeper.servers" . }}"
            {{- range $key, $val :=.Values.config.zookeeperENV }}
            - name: {{ $key }}
              value: "{{ $val }}"
            {{- end }}
            - name: ZOO_ENABLE_SASL            
              value: "{{ .Values.config.sasl.enabled }}"
            - name: ZOO_ENABLE_SSL
              value: "{{ .Values.config.enableSSL }}"
          resources: {{- toYaml .Values.resources | nindent 12 }}
          lifecycle:
            preStop:
              exec:
                command:
                  - sh
                  - -c
                  - "kill `pgrep java`"
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - "./bin/zkServer.sh status"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - "./bin/zkServer.sh status"
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          volumeMounts:
            - name: data
              mountPath: /var/lib/zookeeper
            {{- if .Values.config.sasl.enabled }}
            - name: sasl-config
              mountPath: /saslconf/
            {{- end }}
            {{- if .Values.config.enableSSL }}
            - name: ssl-config
              mountPath: /sslconf/
            {{- end }}
        - name: zookeeper-exporter
          image: {{ template "zookeeper-exporter.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: 
          - "/usr/local/bin/zookeeper-exporter"
          - "--zk-hosts=0.0.0.0:{{ .Values.service.zookeeper.port }}"
          - "--listen=0.0.0.0:{{ .Values.service.exporter.port }}"
          - "--zk-tls-auth={{ .Values.config.enableSSL }}"
          - "--zk-tls-auth-cert=/sslconf/cert.pem"
          - "--zk-tls-auth-key=/sslconf/key.pem" 
          ports:
            - name: exporter
              containerPort: {{ .Values.service.exporter.port }}
          env:
            - name: TZ
              value: "{{ .Values.env.timezone }}"
          resources: 
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 100Mi
          {{- if .Values.config.enableSSL }}
          volumeMounts:
            - name: ssl-config
              mountPath: /sslconf/
          {{- end }}
      volumes:
        {{- if .Values.config.sasl.enabled }}
        - name: sasl-config
          configMap:
            name: {{ template "zookeeper.name" . }}-cm
        {{- end }}
        {{- if .Values.config.enableSSL }}        
        - name: ssl-config
          secret:
            secretName: {{ .Values.secret.secretName | default (include "zookeeper.defaultSSLSecretName" .) }}
            items:
              - key: {{ .Values.secret.trustStoreName }}
                path: truststore.jks
              - key: {{ .Values.secret.trustStorePassWordName }}
                path: truststorepassword
              - key: {{ .Values.secret.keyStoreName }}
                path: keystore.jks
              - key: {{ .Values.secret.keyStorePassWordName }}
                path: keystorepassword
              - key: {{ .Values.secret.certName }}
                path: cert.pem
              - key: {{ .Values.secret.keyName }}
                path: key.pem
        {{- end }}  
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ ReadWriteOnce ]
      {{- if .Values.storage.storageClassName }}
      storageClassName: {{ .Values.storage.storageClassName }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.storage.capacity }}
