apiVersion: v1
data:
  OPENSEARCH_HOST: {{ .Values.depServices.opensearch.host | quote}}
  OPENSEARCHRED: {{ .Values.depServices.opensearch.read | quote}}
  OPENSEARCHWRITE: {{ .Values.depServices.opensearch.write | quote}}
  OPENSEARCH_PORT: {{ quote .Values.depServices.opensearch.port }}
  OPENSEARCH_USER: {{ .Values.depServices.opensearch.user | quote}}
  OPENSEARCH_PASS: {{ .Values.depServices.opensearch.password | quote}}
  REDISCLUSTERMODE: {{ .Values.depServices.redis.connectType | quote}}
  REDISUSER: {{ .Values.depServices.redis.connectInfo.username | quote}}
  REDISPASS: {{ .Values.depServices.redis.connectInfo.password | quote}}
  {{- if eq .Values.depServices.redis.connectType "sentinel" }}
  REDISHOST: {{ quote .Values.depServices.redis.connectInfo.sentinelHost }}
  REDISPORT: {{ quote .Values.depServices.redis.connectInfo.sentinelPort }}
  SENTINELMASTER: {{ .Values.depServices.redis.connectInfo.masterGroupName | quote }}
  SENTINELUSER: {{ .Values.depServices.redis.connectInfo.sentinelUsername | quote}}
  SENTINELPASS: {{ .Values.depServices.redis.connectInfo.sentinelPassword | quote}}
  {{- else if eq .Values.depServices.redis.connectType "standalone" }}
  REDISHOST: {{ quote .Values.depServices.redis.connectInfo.host }}
  REDISPORT: {{ quote .Values.depServices.redis.connectInfo.port }}
  {{- else if eq .Values.depServices.redis.connectType "master-slave" }}
  REDISREADHOST: {{ .Values.depServices.redis.connectInfo.slaveHost | quote}}
  REDISREADPORT: {{ quote .Values.depServices.redis.connectInfo.slavePort }}
  REDISREADUSER: {{ .Values.depServices.redis.connectInfo.username | quote}}
  REDISREADPASS: {{ .Values.depServices.redis.connectInfo.password | quote}}
  REDISWRITEHOST: {{ .Values.depServices.redis.connectInfo.masterHost | quote}}
  REDISWRITEPORT: {{ quote .Values.depServices.redis.connectInfo.masterPort }}
  REDISWRITEUSER: {{ .Values.depServices.redis.connectInfo.username | quote}}
  REDISWRITEPASS: {{ .Values.depServices.redis.connectInfo.password | quote}}
  {{- end }}
  # 授权服务
  OAUTHPUBLICHOST: {{ .Values.depServices.hydra.publicHost | quote }}
  OAUTHPUBLICPORT: {{ .Values.depServices.hydra.publicPort | quote }}
  OAUTHADMINHOST: {{ .Values.depServices.hydra.administrativeHost | quote }}
  OAUTHADMINPORT: {{ .Values.depServices.hydra.administrativePort | quote }}
  # user-management服务
  USERMANAGEMENTPUBLICHOST: {{ .Values.depServices.user_management.publicHost | quote }}
  USERMANAGEMENTPUBLICPORT: {{ .Values.depServices.user_management.publicPort | quote }}
  USERMANAGEMENTPRIVATEHOST: {{ .Values.depServices.user_management.privateHost | quote }}
  USERMANAGEMENTPRIVATEPORT: {{ .Values.depServices.user_management.privatePort | quote }}

  # 图数据库服务
  GRAPHDB_TYPE: {{ quote .Values.depServices.graphDatabase.type }}
  GRAPHDB_HOST: {{ quote .Values.depServices.graphDatabase.host }}
  GRAPHDB_PORT: {{ quote .Values.depServices.graphDatabase.port }}
  GRAPHDB_USER: {{ quote .Values.depServices.graphDatabase.user }}
  GRAPHDB_PASSWORD: {{ quote .Values.depServices.graphDatabase.password }}
  {{- if eq .Values.depServices.graphDatabase.type "nebulaGraph" }}
  GRAPHDB_READ_ONLY_USER: {{ quote .Values.depServices.graphDatabase.readonlyuser }}
  GRAPHDB_READ_ONLY_PASSWORD: {{ quote .Values.depServices.graphDatabase.readonlypassword }}
  {{- end }}
  #embeddings
  EMB_URL: {{ .Values.depServices.mf_model_api.embeddingUrl | quote }}
  EMBEDDING_DIMENSION: {{ .Values.depServices.mf_model_api.embeddingDimension | quote }}
  #reranker
  RERANKER_URL: {{ .Values.depServices.mf_model_api.rerank_url | quote }}


kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-yaml
  namespace: {{ .Values.namespace }}