apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Release.Name }}
spec:
  ports:
    - name: api-port
      port: {{ .Values.ports.apiPort }}
      protocol: TCP
      targetPort: {{ .Values.ports.apiPort }}
  selector:
    app: {{ .Release.Name }}
