.grey-color1 {
  color: rgb(108, 117, 125);
}

.grey-color2 {
  color: rgb(73, 80, 87);
}

.path-explanation {
  padding: 8px;
  background-color: rgb(248, 249, 250);
  border: 1px solid rgb(233, 236, 239);

  .demo {
    padding: 8px;
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(233, 236, 239);

    .code-1 {
      line-height: 1.3;
    }

    .code-2 {
      padding: 1px 3px;
      background-color: rgb(233, 236, 239);
    }

    .code-3 {
      margin: 0px 4px;
    }

    .code-4 {
      padding: 1px 3px;
      background-color: rgb(212, 237, 218);
      color: rgb(21, 87, 36);
    }
  }
}
